html {
	height: 100%;
	width: 100%;
	margin: auto;
	overflow: hidden;
}
body {
	background-color: cornflowerblue;
	margin: 0px;
	height: 100%;
	min-width: 400px;
	max-width: 100%;
}

h1 {
	color: #FFFFFF;
	float: left;
	display: inline;
	position: absolute;
	left: 80px;
}

#content {
	background-color: #FFFFFF;
	height: 100%;
	width: calc(100% - 200px);
	position: absolute;
	left: 200px;
	padding: 20px;
	overflow: scroll;
}